<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v.model.number="time" />
      <br />
      <div v-if="time >= 17">
        아직 준비할 항목:<br /><br />
        <ul v-for="(p, index) in prepare" :key="index">
          <li>- {{p}}</li>
        </ul>
      </div>
      <div v-else="time">마감 임박! 아래 항목 중 마지막으로 남은 준비:</div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script>
      let vm = Vue.createApp({
        name: 'App',
        data() {
          return {
            prepare: ['편지 작성', '편지 검토', '봉투 밀봉', '스탬프 찍기'],
            time: 0,
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
