<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuko.stock.mapper.BuyMapper">
    <insert id="insert">
        insert into tbl_buy (stock_code, stock_name, price) values (#{stockCode}, #{stockName}, #{price})
    </insert>

    <delete id="delete">
        delete from tbl_buy where id = #{id}
    </delete>

    <select id="getList" resultType="com.yuko.stock.domain.BuyVO">
        select * from tbl_buy order by buy_date desc;
    </select>
</mapper>